/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
* {
   -darkRed: #4d060e;
   -darkGray: #2f2f2f;
   -red: #7a0613;
   -gray: #dedede;
   -orange: #b47011;

   -gradDLR: #580d15;
   -gradDDR: #4b0009;
   -gradLLR: 800.0d1a;
   -gradLDR: #74000e;
}

.topBar {
	-fx-background-color: linear-gradient(-gradDLR, -gradDDR);
}

.redAccordion {
	-fx-base: -red;
	-fx-background-color: -gray;
}

.orangeAccordion {
	-fx-base: #bf7000;
}

.grayAccordion{
	-fx-base: #aeaeae;
}

.button{
	-fx-base: #9a0819;
}

.middleToolbar{
	-fx-base: #9a0819;
}

.grayGradient{
	-fx-background-color: linear-gradient(#f8f8f8, #e7e7e7);
}

.grayGradientHoverable{
	-fx-background-color: linear-gradient(#f8f8f8, #e7e7e7);
}

.grayGradientHoverable:hover{
	-fx-background-color: linear-gradient(#ededed, #d4d4d4);
}

.grayBackground{
	-fx-background-color: -gray;
}

.text-input, .text-input:focused {
	-fx-prompt-text-fill:darkgray;
}

#menuSeparator{
	-fx-base: #292929;
}

#menuSeparator:hover{
	-fx-base: #0e0e0e;
}